*.o
\#*#
*#
.#*
.*~
*~
.DS_Store
*.sw[po]
tags
TAGS
.svn
*.dSYM
*.log
*.dvi
*.aux
*.elc
.zshrc.local
fishd.*
configstore/*
iterm2/AppSupport
/nvim.bak

# Vim
Session.vim
.vim/bundle/
.vimrc_sample
.vim/ftdetect/Dockerfile.vim
.vim/syntax/Dockerfile.vim
.vim/snippets/
.luarc.json
# Fish local config
.config/fish/config-local.fish
fish/fish_variables
#tmux
/tmux/.config/tmux/plugins/*
# nvim lock
/**/lazy-lock.json
